@page
@model MyRazorPage.Pages.Orders.CanceledOrderModel
@{
}
<div id="content">
    <div id="content-left">
        <h3 style="font-weight: normal;">Welcome, @Model.Customer.ContactName</h3>
        <h3>Account Management</h3>
        <ul>
            <a href="/account/profile">
            <li>Personal information</li></a>
        </ul>
        <h3>My order</h3>
        <ul>
            <a href="/orders/listOrders">
            <li>All orders</li></a>
            <a href="/orders/canceledorder">
            <li style="background-color: sienna; color: white">Canceled order</li></a>
        </ul>
    </div>
    <div id="content-right">
        <div class="path">LIST ORDERS</b></div>
        <div class="content-main">
            <div id="profile-content-order">
                <div>
                    @*PENDING LIST*@
                    @{
                        if (Model.OrderedList.Count > 0)
                        {
                            @foreach (var item in Model.OrderedList)
                            {
                                @if (item.RequiredDate == null)
                                {
                                    <div class="profile-order-title">
                                        <div class="profile-order-title-left">
                                            <div>Order creation date: @item.OrderDate</div>
                                            <div>Order: <a href="/orders/orderpdf?orderId=@item.OrderId">#@item.OrderId</a></div>
                                        </div>
                                        @if (item.ShippedDate == null)
                                        {
                                            <div class="profile-order-title-right">
                                                <span>Canceled</span>
                                            </div>
                                        }
                                    </div>
                                    @foreach (var item2 in item.OrderDetails)
                                    {
                                        <div class="profile-order-content">
                                            <div class="profile-order-content-col1">
                                                <a href="detail.html"><img src="~/img/2.jpg" width="100%" /></a>
                                            </div>
                                            <div class="profile-order-content-col2">@item2.Product.ProductName</div>
                                            <div class="profile-order-content-col3">@item2.Product.QuantityPerUnit</div>
                                            <div class="profile-order-content-col4">@item2.Product.UnitPrice</div>
                                        </div>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <div class="profile-order-title-right">
                                <span>No Order In Here</span>
                            </div>
                        }
                    }
                    @*                    <div class="profile-order-title">
                    <div class="profile-order-title-left">
                    <div>Order creation date: </div>
                    <div>Order: <a href="#">#1</a></div>
                    </div>
                    <div class="profile-order-title-right">
                    <span>Pending</span>
                    </div>
                    </div>
                    <div class="profile-order-content">
                    <div class="profile-order-content-col1">
                    <a href="detail.html"><img src="img/2.jpg" width="100%" /></a>
                    </div>
                    <div class="profile-order-content-col2">Product 12</div>
                    <div class="profile-order-content-col3">Quantity: 1</div>
                    <div class="profile-order-content-col4">1000 $</div>
                    </div>
                    <div class="profile-order-content">
                    <div class="profile-order-content-col1">
                    <a href="detail.html"><img src="img/1.jpg" width="100%" /></a>
                    </div>
                    <div class="profile-order-content-col2">Product 1</div>
                    <div class="profile-order-content-col3">Quantity: 2</div>
                    <div class="profile-order-content-col4">2000 $</div>
                    </div>
                    </div>
                    <div>
                    <div class="profile-order-title">
                    <div class="profile-order-title-left">
                    <div>Order creation date: 25-9-2022</div>
                    <div>Order: <a href="#">#2</a></div>
                    </div>
                    <div class="profile-order-title-right">
                    <span style="color: blue;">Completed</span>
                    </div>
                    </div>
                    <div class="profile-order-content">
                    <div class="profile-order-content-col1">
                    <a href="detail.html"><img src="img/2.jpg" width="100%" /></a>
                    </div>
                    <div class="profile-order-content-col2">Product 12</div>
                    <div class="profile-order-content-col3">Quantity: 1</div>
                    <div class="profile-order-content-col4">1000 $</div>
                    </div>
                    <div class="profile-order-content">
                    <div class="profile-order-content-col1">
                    <a href="detail.html"><img src="img/1.jpg" width="100%" /></a>
                    </div>
                    <div class="profile-order-content-col2">Product 1</div>
                    <div class="profile-order-content-col3">Quantity: 2</div>
                    <div class="profile-order-content-col4">2000 $</div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>