@page
@model NokNok.Pages.Admin.Dashboard.IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<main>
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Product Management</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/ProductAdmin">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Customer Management</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/CustomerAdmin">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Employee Management</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/EmployeeAdmin">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Order Management</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="~/Admin/OrderAdmin">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
@*    <div class="row">
            <div id="dashboard-2">
                <div id="chart" style="text-align: center;">
                    <div id="chart1">
                        <h3>Statistic Orders (Month)</h3>
                        <canvas id="myChart1" style="width: 100%;"></canvas>
                    </div>
                    <div id="chart2">
                        <canvas id="myChart2" style="width: 80%;"></canvas>
                    </div>
                </div>
            </div>
    </div>*@
</div>
</main>


@*<script>
    function OrdersChart() {
        var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];

        new Chart("myChart1", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    data: [@Model.StatisticOrdersByMonth.ElementAt(0),
    @Model.StatisticOrdersByMonth.ElementAt(1),
    @Model.StatisticOrdersByMonth.ElementAt(2),
    @Model.StatisticOrdersByMonth.ElementAt(3),
    @Model.StatisticOrdersByMonth.ElementAt(4),
    @Model.StatisticOrdersByMonth.ElementAt(5),
    @Model.StatisticOrdersByMonth.ElementAt(6),
    @Model.StatisticOrdersByMonth.ElementAt(7),
    @Model.StatisticOrdersByMonth.ElementAt(8),
    @Model.StatisticOrdersByMonth.ElementAt(9),
    @Model.StatisticOrdersByMonth.ElementAt(10),
    @Model.StatisticOrdersByMonth.ElementAt(11)
                                    ],
                    borderColor: "sienna",
                    fill: true
                }]
            },
            options: {
                legend: { display: false }
            }
        });
    }

    function CustomersChart() {
        var xValues = ["Total", "New customer"];
        var yValues = [@Model.TotalCustomers, @Model.NewCustomers, 35];
        var barColors = ["green", "red"];

        new Chart("myChart2", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "New Customers (30 daily Avg)"
                }
            }
        });
    }

    OrdersChart();
    CustomersChart();
</script>*@