@page
@model NokNok.Pages.User.OrderHistory.IndexModel
@{
    decimal? amount = 0;
    float? discount = 0;
}
<style>

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .text-reset {
        --bs-text-opacity: 1;
        color: inherit !important;
    }

    a {
        color: #5465ff;
        text-decoration: none;
    }
</style>
<div class="container-fluid">

    <div class="container">


        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.Order)
                {
                    <!-- Details -->
                    <!-- Title -->
                    <div class="d-flex justify-content-between align-items-center py-3">
                        <h2 class="h5 mb-0" style="color: orangered"><a href="#" class="text-muted"></a> Order #@item.OrderId</h2>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">@item.OrderDate</span>
                                    @if(item.ShippedDate == null)
                                    {
                                        <span class="badge rounded-pill bg-info">SHIPPING</span>
                                    }else
                                    
                                    {
                                        <span class="badge rounded-pill bg-info" >Finished</span>
                                    }
                                </div>
                                <div class="d-flex">
                                    <a type="button" class="btn btn-success" href="~/User/OrderHistory/Invoice?orderId=@item.OrderId"><i class="bi bi-download"></i> <span class="text">Invoice</span></a>
                                    <div class="dropdown">
                                        <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    @foreach (var orderDetails in item.OrderDetails)
                                    {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                    <div class="flex-shrink-0">
                                                        <img src="~/img/product/@orderDetails.Product.Image" alt="" width="100" style="margin-right:10px" class="img-fluid">
                                                    </div>
                                                    <div class="flex-lg-grow-1 ms-3">
                                                        <h4 class="small mb-0"><a href="#" class="text-reset">@orderDetails.Product.ProductName</a></h4>
                                                        <h6>Price: $ @orderDetails.Product.UnitPrice</h6>
                                                    </div>
                                            </div>
                                        </td>
                                        <td>x @orderDetails.Quantity</td>
                                            @{
                                                var price = orderDetails.Quantity * orderDetails.Product.UnitPrice;
                                                amount += price;
                                                discount = orderDetails.Discount;
                                            }
                                        <td class="text-end">$ @price</td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Subtotal</td>
                                        <td class="text-end">$ @amount</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end">$10.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Discount (Code: NEWYEAR)</td>
                                        <td class="text-danger text-end">- @discount %</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td colspan="2" style="color:green;font-weight:bold;">TOTAL</td>
                                        @{
                                            var totalAmount = (float)amount - ((float)amount * discount) + 10;
                                        }
                                        <td class="text-end" style="color:green;font-weight:bold;">$ @totalAmount</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Customer Notes</h3>
                        <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <strong>FedEx</strong>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>@Model.Customer.CompanyName</strong><br>
                            @Model.Customer.Address<br>
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>