@page
@model MyRazorPage.Pages.Product.DeleteModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div id="content-right">
    <div class="path-admin">DELETE PRODUCT</b></div>
    <div class="content-main">
        <form id="content-main-product" method="post">
            <div class="content-main-1">
                <input asp-for="Product.ProductId" type="hidden" />

                <label>Product name (*):</label><br />
                <input asp-for="Product.ProductName" disabled /><br />
                <span class="msg-error" asp-validation-for="Product.ProductName"></span><br />

                <label>Unit price:</label><br />
                <input asp-for="Product.UnitPrice" disabled /><br />
                <span class="msg-error" asp-validation-for="Product.UnitPrice"></span><br />

                <label>Quantity per unit:</label><br />
                <input asp-for="Product.QuantityPerUnit" disabled /><br />

                <label>Units in stock (*):</label><br />
                <input type="text" asp-for="Product.UnitsInStock" disabled /><br />
                <span class="msg-error" asp-validation-for="Product.UnitsInStock"></span><br />
            </div>
            <div class="content-main-1">
                <label>Category (*):</label><br />
                <select asp-for="Product.CategoryId" disabled>
                    @foreach (var item in Model.categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
                <br />
                <span class="msg-error" asp-validation-for="Product.CategoryId" disabled></span><br />

                <label>Reorder level:</label><br />
                <input type="text" asp-for="Product.ReorderLevel" disabled></span><br />

                <label>Units on order:</label><br />
                <input type="text" asp-for="Product.UnitsOnOrder" disabled></span><br />

                <label>Discontinued:</label><br />
                <input type="checkbox" name="chkDiscontinued" disabled></span><br />

                <input type="submit" value="Delete" />
                <div class="msg-error" style="text-align:left">@ViewData["msg"]</div>

            </div>

        </form>


    </div>
    <label>Note: <span style="color: red;">If there are products in order, delete cannot be applied</span></label><br />
    <h1>Product in Orders:</h1>
    @if (Model.ProductInOrder.Count == 0)
    {
        <p>No data</p>
    }
    else
    {
        @foreach (var item in Model.ProductInOrder)
        {
            <h3>@item.OrderId, @item.Product.ProductName, @item.Quantity, </h3>
        }
    }

</div>