@page
@model MyRazorPage.Pages.Product.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    var prevDisabled = !Model.ProductsList.HasPreviousPage ? "none" : "";
    var nextDisabled = !Model.ProductsList.HasNextPage ? "none" : "";
}
<link href="~/css/style.css" rel="stylesheet" />

<div id="content-right">
    <div class="path-admin">PRODUCTS LIST</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="product-title-header">
                <div id="product-title-1" style="width: 25%;">
                    <b>Filter by Catetory:</b>
                    <form>
                        <select asp-for="@Model.SelectedCategory" asp-items="@Model.Categories">
                            <option value="">--- Select ---</option>
                        </select>
                        <input type="submit" value="Filter">
                    </form>
                </div>
                <div id="product-title-2" style="width: 55%;">
                    <form>
                        <input asp-for="@Model.SelectedCategory" asp-action="Import" value="@Model.CurrentFilterCat" hidden />
                        <input name="searchName" type="text" value="@Model.CurrentFilterName" placeholder="Enter product name to search" />
                        <input type="submit" value="Search" />
                    </form>
                </div>
                <div id="product-title-3" style="width: 20%;">
                    <a href="~/admin/product/create">Create a new Product</a>
                    <a href="~/admin/product/importfile">Import .xls or .xlsx file</a>
                    <a asp-page-handler="Export">Export to file Excel</a>
                    <br/>
                    <br />

                </div>
            </div>
            <div id="order-table-admin">
                <table id="orders">
                    <tr>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>UnitPrice</th>
                        <th>Unit</th>
                        <th>UnitsInStock</th>
                        <th>Category</th>
                        <th>Discontinued</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.ProductsList)
                    {
                        <tr>
                            <td><a href="/product/detail?id=@item.ProductId">@item.ProductId</a></td>
                            <td>@item.ProductName</td>
                            <td>@item.UnitPrice</td>
                            <td>pieces</td>
                            <td>@item.UnitsInStock</td>
                            <td>@item.Category.CategoryName</td>
                            <td>@item.Discontinued</td>
                            <td>
                                <a asp-page="./edit"
                               asp-route-lastPageIndex="@Model.ProductsList.PageIndex"
                               asp-route-proID="@item.ProductId">Edit</a> &nbsp; | &nbsp;
                                <a asp-page="./delete"
                               asp-route-lastPageIndex="@Model.ProductsList.PageIndex"
                               asp-route-proID="@item.ProductId">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div id="paging">
                <div class="pagination">
                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.SearchName"
                       asp-route-pageIndex="1">First</a>
                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.SearchName"
                       asp-route-pageIndex="@(Model.ProductsList.PageIndex - 1)"
                       style="pointer-events: @prevDisabled;">&laquo;</a>
                    @if (Model.ProductsList.TotalPages > 5)
                    {
                        @for (var i = Model.ProductsList.PageIndex - 3; i <= Model.ProductsList.PageIndex + 3; i++)
                        {
                            if (i > 0 && i <= Model.ProductsList.TotalPages)
                            {
                                if (Model.ProductsList.PageIndex == i)
                                {
                                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i"
                       class="active">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i">
                                        @i
                                    </a>
                                }
                            }


                        }
                    }
                    else
                    {
                        @for (var i = 1; i <= Model.TotalPage; i++)
                        {
                            if (Model.ProductsList.PageIndex == i)
                            {
                                <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i"
                       class="active">
                                    @i
                                </a>
                            }
                            else
                            {
                                <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i">
                                    @i
                                </a>
                            }

                        }
                    }
                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@(Model.ProductsList.PageIndex + 1)"
                       style="pointer-events: @nextDisabled;">
                        &raquo;
                    </a>
                    <a asp-page="./index"
                       asp-route-SelectedCategory="@Model.CurrentFilterCat"
                       asp-route-currentFilterCat="@Model.CurrentFilterCat"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@Model.ProductsList.TotalPages">
                        Last
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>