@page
@model MyRazorPage.Pages.Account.CartModel
@{
    decimal? amount = 0;
}
<div id="content">
    <div id="cart">
        <div id="cart-title">
            <h3>SHOPPING CART</h3>
        </div>
        <div id="cart-content">
            @if (Model.ListCarItems.Count > 0)
            {
                @foreach (var item in Model.ListCarItems)
                {
                    <div class="cart-item">
                        <div class="cart-item-infor">
                            <div class="cart-item-img">
                                <img src="~/img/1.jpg" />
                            </div>
                            <div class="cart-item-name">
                                <a href="~/product/detail?id=@item.product.ProductId">@item.product.ProductName</a>
                            </div>
                            <div class="cart-item-price">
                                @{
                                    var price = item.quantity * item.product.UnitPrice;
                                    amount += price;
                                }
                                @($"{price}") $
                            </div>
                            <div class="cart-item-button">
                                @*<form asp-action="get" asp-page-handler="RemoveCart" asp-route-id="@item.product.ProductId">
                                    <input name="removeProduct" value="@item.product.ProductId" hidden />
                                    <button type="submit">
                                        Remove
                                    </button>
                                </form>*@
                                <a asp-page-handler="RemoveCart" asp-route-id="@item.product.ProductId">Remove</a>
                            </div>
                        </div>
                        <div class="cart-item-function">
                            <a asp-page-handler="UpdateQuantity" asp-route-id="@item.product.ProductId" asp-route-action="1">-</a>
                            <a asp-page-handler="UpdateQuantity" asp-route-id="@item.product.ProductId" asp-route-action="2">+</a>
                            <input type="text" value="@item.quantity" disabled />
                        </div>
                    </div>

                }
            }
        </div>
        <div id="cart-summary">
            <div id="cart-summary-content">Total amount: <span style="color:red">@amount $</span></div>
        </div>
        <form method="post">
            <div id="customer-info">
                <div id="customer-info-content">
                    @if (Model.Customer != null)
                    {
                        <h3>CUSTOMER INFORMATION:</h3>
                        <div id="customer-info-detail">
                            <div id="customer-info-left">
                                <input type="text" placeholder="Company name *" asp-for="@Model.Customer.CompanyName" /><br />
                                <input type="text" placeholder="Contact name *" asp-for="@Model.Customer.ContactName" /><br />
                            </div>
                            <div id="customer-info-right">
                                <input type="text" placeholder="Contact title *" asp-for="@Model.Customer.ContactTitle" /><br />
                                <input type="text" placeholder="Address *" asp-for="@Model.Customer.Address" /><br />
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3>CUSTOMER INFORMATION:</h3>
                        <div id="customer-info-detail">
                            <div id="customer-info-left">
                                <input type="text" placeholder="Company name *" /><br />
                                <input type="text" placeholder="Contact name *" /><br />
                            </div>
                            <div id="customer-info-right">
                                <input type="text" placeholder="Contact title *" /><br />
                                <input type="text" placeholder="Address *" /><br />
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div id="customer-info">
                <div id="customer-info-content">
                    <h3>DATE INFORMATION:</h3>
                    <div id="customer-info-detail">
                        <div id="customer-info-left">

                            <h1>Order DATE</h1>
                            <input type="datetime" value=@DateTime.Today.Date readonly/>
                        </div>
                        <div id="customer-info-right">

                            <h1>Required DATE</h1>
                            <input type="date" asp-for="@Model.requiredDate" />
                        </div>

                    </div>
                </div>
            </div>
            <div id="customer-info">
                <div id="customer-info-content">
                    <h3>PAYMENT METHODS:</h3>
                    <div id="customer-info-payment">
                        <div>
                            <input type="radio" name="rbPaymentMethod" checked> Payment C.O.D - Payment on delivery </>

                        </div>
                        <div>
                            <input type="radio" name="rbPaymentMethod"> Payment via online payment gateway</>

                        </div>
                    </div>
                </div>
            </div>
            <div id="cart-order">
                <input type="button" onclick="this.form.submit()" value="ORDER" />
            </div>
        </form>
    </div>
</div>
