@page
@model MyRazorPage.Pages.Product.CategoryModel
@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "none" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "none" : "";
}

<div id="content">
    <div id="content-left">
        <h3>CATEGORY</h3>
        <ul>
            @{
                if (Model.Category != null)
                {
                    foreach (var item in Model.Category)
                    {
                                                    @if (item.CategoryId == Model.selectedCategoryId)
                        {
                                                        <a href="/product/category?catID=@item.CategoryId" style="background-color:;">
                                                        <li style="background-color: sienna; color: white">@item.CategoryName</li></a>
                        }
                        else
                        {
                                                        <a href="/product/category?catID=@item.CategoryId" >
                                                        <li>@item.CategoryName</li></a>
                        }
                    }
                }
            }
        </ul>
    </div>
    <div id="content-right">
        <div class="path">
            @foreach (var item in Model.Category)
            {
                @if (item.CategoryId == Model.selectedCategoryId)
                {
                     @item.CategoryName
                }
            }
            </b>
        </div>
        <div style="padding-left:10px; margin:10px; float: right">
            <form method="get">
                <label for="sortOrder" style="font-weight:bold">Filter Price:</label>
                <input name="catID" value="@Model.selectedCategoryId" hidden />
                <input name="pageIndex" value="@Model.Products.PageIndex" hidden />
                <select name="sortOrder" onchange="this.form.submit()">
                    <option>--Select--</option>
                    <option value="asc">Low to High Price</option>
                    <option value="desc">High to Low Price</option>
                </select>
            </form>
        </div>


        @if (Model.Products != null)
        {

            <div class="content-main" style="display: flex;flex-wrap: wrap;">
                @foreach (var item in Model.Products)
                {
                    <div class="product" style="margin:10px 40px">
                        <a href="~/product/detail?id=@item.ProductId"><img src="~/img/1.jpg" width="100%" /></a>
                        <div class="name"><a href="~/product/detail?id=@item.ProductId">@item.ProductName</a></div>
                        <div class="price">$ @item.UnitPrice</div>
                        <div style="padding:10px; padding-left:35%"><a asp-page-handler="BuyNow" asp-route-ProID="@item.ProductId" style="text-decoration: none; padding: 6px; border-radius: 10px; background-color: sienna; color: white">Buy now</a></div>
                    </div>
                }
            </div>
            
        }


        @*PAGINATION*@

        <div id="paging">

            <div class="pagination">
                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="1"> First </a>
                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@(Model.Products.PageIndex - 1)" style="pointer-events: @prevDisabled;">&laquo;</a>

                @if (Model.Products.TotalPages > 5)
                {
                    @for (var i = Model.Products.PageIndex - 3; i <= Model.Products.PageIndex + 3; i++)
                    {
                        if (i > 0 && i <= Model.Products.TotalPages)
                        {
                            if (Model.Products.PageIndex == i)
                            {
                                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@i"
                   class="active">
                                    @i
                                </a>
                            }
                            else
                            {
                                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@i">
                                    @i
                                </a>
                            }
                        }


                    }
                }
                else
                {
                    @for (var i = 1; i <= Model.TotalPage; i++)
                    {
                        if (Model.Products.PageIndex == i)
                        {
                            <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@i"
                   class="active">
                                @i
                            </a>
                        }
                        else
                        {
                            <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@i">
                                @i
                            </a>
                        }

                    }
                }

                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@(Model.Products.PageIndex + 1)"
                   style="pointer-events: @nextDisabled;">
                    &raquo;
                </a>
                <a asp-page="./Category"
                   asp-route-catID="@Model.selectedCategoryId"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-pageIndex="@Model.Products.TotalPages">
                    Last
                </a>
            </div>
        </div>
    </div>
</div>




