
@page
@model NokNok.Pages.CartModel
@{
    decimal? amount = 0;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if (Model.ListCarItems.Count > 0)
                                    {
                                        @foreach (var item in Model.ListCarItems)
                                        {
                                            <tr>
                                                <td class="product_remove"> <a asp-page-handler="RemoveCart" asp-route-id="@item.product.ProductId"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="~/ProductDetails?proId=@item.product.ProductId"><img src="~/img/product/@item.product.Image" alt=""></a></td>
                                                <td class="product_name"><a href="~/ProductDetails?proId=@item.product.ProductId">@item.product.ProductName</a></td>
                                                <td class="product-price">
                                                    $ @item.product.UnitPrice
                                                </td>
                                                <td class="product_quantity">
                                                    <a asp-page="Cart" asp-page-handler="UpdateNumber" asp-route-id="@item.product.ProductId" asp-route-Choice="Sub"> - </a>
                                                    <input type="text" value="@item.quantity" disabled />
                                                    <a asp-page="Cart" asp-page-handler="UpdateNumber" asp-route-id="@item.product.ProductId" asp-route-Choice="Add"> + </a>
                                                </td>
                                                <td class="product_total">
                                                    @{
                                                        var price = item.quantity * item.product.UnitPrice;
                                                        amount += price;
                                                    }
                                                    $ @($"{price}")
                                                </td>
                                            </tr>
                                        }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input placeholder="Coupon code" type="text" readonly >
                                <button type="submit">Apply coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">$ @amount</p>
                                </div>
                                <div class="cart_subtotal ">
                                    <p>Shipping</p>
                                    <p class="cart_amount">$ 20.00</p>
                                </div>
                                <a href="#">Calculate shipping</a>
                                @{
                                    amount += 20;
                                }
                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount" style="color:red; font-weight:bold">$ @amount</p>
                                </div>
                                 <form method="post">
                                    <div class="checkout_btn">
                                        <a asp-page-handler="Order" type="submit" onclick="this.form.submit()">Proceed to Checkout</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->

        </form>
    </div>
</div>
<!-- shopping cart area end -->