@page 
@model NokNok.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="shop_inner_area">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <div class="sidebar_widget">
                        <div class="widget_list widget_categories">
                            <h2>Product categories</h2>
                            <ul>
                                @foreach(var cat in Model.Categories)
                                {
                                    <li><a href="/Index?category=@cat.CategoryId"> @cat.CategoryName <span>Click</span></a> </li>
                                }

                            </ul>
                        </div>
                        <div class="widget_list tag-cloud">
                            <h2>Popular Products</h2>
                            <div class="tag_widget">
                                <ul>
                                    @foreach (var item in Model.PopularProducts)
                                    {
                                        <li><a href="~/ProductDetails?proId=@item.ProductId">@item.ProductName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_title">
                    </div>
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">

                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

                            <button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

                            <button data-role="grid_5" type="button" class="btn-grid-5" data-toggle="tooltip" title="5"></button>

                            <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
                        </div>
                        <div class="">
                            <form id="order" asp-page="index" method="get">
                                <select class="niceselect_option" asp-for="@Model.SelectedOrder" asp-items="@Model.OrderOption" type="submit" id="short" onchange="document.getElementById('order').submit()">
                                    <option selected value="0">Display all</option>
                                </select>
                            </form>
                        </div>
                        <div class="page_amount">
                            <p>Showing @Model.Products.Count() results</p>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <div class="row shop_wrapper">
                        @if (Model.Products.Count() == 0)
                        {
                            <h2>No Data</h2>
                        }
                        @foreach(var item in Model.Products)
                        {
                            <!--PRODUCTS-->
                            <div class="col-lg-4 col-md-4 col-12 ">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a class="primary_img" href="~/ProductDetails?proId=@item.ProductId"><img src="~/img/product/watch1.jpg" alt=""></a>
                                        <a class="secondary_img" href="~/ProductDetails?proId=@item.ProductId"><img src="~/img/product/watch1.jpg" alt=""></a>

                                        <div class="quick_button">
                                            <a href="~/ProductDetails?proId=@item.ProductId" title="quick_view">Xem sản phẩm</a>
                                        </div>

                                        <div class="label_product">
                                            <span>new</span>
                                        </div>
                                    </div>

                                    <div class="product_content grid_content">
                                        <h3><a href="~/ProductDetails?proId=@item.ProductId">@item.ProductName</a></h3>
                                        <span class="current_price">£@item.UnitPrice</span>
                                    </div>


                                    <div class="product_content list_content">
                                        <h3><a href="~/ProductDetails?proId=@item.ProductId">@item.ProductName</a></h3>
                                        <div class="product_ratting">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product_price">
                                            <span class="current_price">£@item.UnitPrice</span>
                                            <span class="old_price">£99.00</span>
                                        </div>
                                        <div class="product_desc">
                                            <p>****DESCRIPTION***</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- END PRODUCTS-->
                        }
                    </div>

                   
@*                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                <li class="current">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">next</a></li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div>*@
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--shop  area end-->
<!--jquery-->