@page
@model NokNok.Pages.ProductDetailsModel
@{
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area product_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="~/Index">home</a></li>
                        <li>/</li>
                        <li>product details</li>
                        <li>/</li>
                        <li>@Model.Product.ProductName</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="product-details-tab">

                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="~/img/product/@Model.Product.Image" data-zoom-image="~/img/product/@Model.Product.Image" alt="big-1">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="product_d_right">
                        @if (Model.Product != null)
                        {
                            <h1 style="color:black; font-size:26px;">@Model.Product.ProductName</h1>
                            <div class=" product_ratting">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li class="review"><a href="#"> 1 review </a></li>
                                    <li class="review"><a href="#"> Write a review </a></li>
                                </ul>
                            </div>
                            <div class="product_price">
                                <span class="current_price">$@Model.Product.UnitPrice</span>
                            </div>
                            <div class="product_desc">
                                <p>Mass: @Model.Product.QuantityPerUnit</p>
                            </div>
                            <div class="product_variant quantity">
                                <label>quantity</label>
                                <input min="1" max="100" value="1" type="number">
                                <form method="post">
                                    <input name="ProID" value="@Model.Product.ProductId" hidden>
                                    <button class="button" type="submit">add to cart</button>
                                </form>
                            </div>
                            <div class="msg-error" style="text-align:left;"><h1 style="color:red;">@ViewData["msg"]</h1></div>

                            <div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wish List</a></li>
                                    <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i> Compare this Product</a></li>
                                </ul>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">More info</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>
                                    Introducing our Deluxe Stainless Steel Water Bottle - the perfect way to stay hydrated on the go! Made from high-quality stainless steel, this durable water bottle can withstand the rigors of daily use while keeping your drinks at the perfect temperature.
                                </p>
                                <p>
                                    The double-walled construction keeps cold drinks cold for up to 24 hours and hot drinks hot for up to 12 hours, so you can enjoy your favorite beverages no matter where you are. The spill-proof design means you don't have to worry about leaks, while the easy-to-use twist cap makes it simple to open and close.
                                </p>
                                <p>
                                    With a sleek and stylish design, our Deluxe Stainless Steel Water Bottle is the perfect accessory for any active lifestyle. Whether you're hitting the gym, hiking a mountain trail, or just running errands around town, this water bottle will keep you hydrated and looking great.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!-- Plugins JS -->
<script src="~/js/plugins.js"></script>

<!-- Main JS -->
<script src="~/js/main.js"></script>