@page
@model MyRazorPage.Pages.Admin.CustomersModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    var prevDisabled = !Model.Customers.HasPreviousPage ? "none" : "";
    var nextDisabled = !Model.Customers.HasNextPage ? "none" : "";
}
<div id="content-right">

    <div class="path-admin">CUSTOMERS LIST</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="order-title">
                <b>Filter by Contact Name:</b>
                <div id="product-title-2">
                <form>
                    <input name="searchName" type="text" value="@Model.CurrentFilterName" placeholder="Enter customer name to search" />
                    <input type="submit" value="Search" />
                </form>
                </div>

            </div>
            <div id="order-table">
                <table id="orders">
                    <tr>
                        <th>CustomerID</th>
                        <th>ContactName</th>
                        <th>ContactTitle</th>
                        <th>CompanyName</th>
                        <th>CreatedDate</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Customers)
                    {
                        <tr>
                            <td><a href="order-detail.html?id=5">@item.CustomerId</a></td>
                            <td>@item.ContactName</td>
                            <td>@item.ContactTitle</td>
                            <td>@item.CompanyName</td>
                            <td>@item.CreatedDate</td>
                                @if (false)
                                {
                                    <td style="color: green;">Active</td>
                                }
                                else
                                {
                                    <td style="color: red;">Deactive</td>
                                }

                        </tr>
                    }
                </table>
            </div>
            <div id="paging">

                <div class="pagination">
                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="1"> First </a>
                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@(Model.Customers.PageIndex - 1)"
                       style="pointer-events: @prevDisabled;">&laquo;</a>

                    @if (Model.Customers.TotalPages > 5)
                    {
                        @for (var i = Model.Customers.PageIndex - 3; i <= Model.Customers.PageIndex + 3; i++)
                        {
                            if (i > 0 && i <= Model.Customers.TotalPages)
                            {
                                if (Model.Customers.PageIndex == i)
                                {
                                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i"
                       class="active">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i">
                                        @i
                                    </a>
                                }
                            }


                        }
                    }
                    else
                    {
                        @for (var i = 1; i <= Model.TotalPage; i++)
                        {
                            if (Model.Customers.PageIndex == i)
                            {
                                <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i"
                       class="active">
                                    @i
                                </a>
                            }
                            else
                            {
                                <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@i">
                                    @i
                                </a>
                            }

                        }
                    }

                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@(Model.Customers.PageIndex + 1)"
                       style="pointer-events: @nextDisabled;">
                        &raquo;
                    </a>
                    <a asp-page="./customers"
                       asp-route-currentFilterName="@Model.CurrentFilterName"
                       asp-route-searchName="@Model.CurrentFilterName"
                       asp-route-pageIndex="@Model.Customers.TotalPages">
                        Last
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CheckCancel() {
        if (confirm("Do you want to canel this order?") == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
