@page
@model MyRazorPage.Pages.Admin.OrderModel
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    var prevDisabled = !Model.OrderedList.HasPreviousPage ? "none" : "";
    var nextDisabled = !Model.OrderedList.HasNextPage ? "none" : "";
}
<div id="content-right">

    <div class="path-admin">ORDERS LIST</b></div>
    <div class="content-main">
        <div id="content-main-dashboard">
            <div id="order-title">
                <b>Filter by Order date:</b>
                <form method="get">
                    From: <input type="date" name="fromDate" />
                    To: <input type="date" name="toDate" />
                    <input type="submit" value="Filter">
                </form>
                <a asp-page-handler="Export" asp-route-fromDate="@Model.CurrentFromDate"
                   asp-route-toDate="@Model.CurrentToDate">Export to file Excel</a>

            </div>
            <div id="order-table">
                <table id="orders">
                    <tr>
                        <th>OrderID</th>
                        <th>OrderDate</th>
                        <th>RequiredDate</th>
                        <th>ShippedDate</th>
                        <th>Employee</th>
                        <th>Customer</th>
                        <th>Freight($)</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.OrderedList)
                    {
                        <tr>
                            <td><a href="/admin/orderdetail?id=@item.OrderId">@item.OrderId</a></td>
                            <td>@item.OrderDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.RequiredDate?.ToString("dd-MM-yyyy")</td>
                            <td>@item.ShippedDate?.ToString("dd-MM-yyyy")</td>
                            <td>@item.Employee.LastName</td>
                            <td>@item.Customer.ContactName</td>
                            <td>@item.Freight</td>
                            @if (@item.ShippedDate == null)
                            {
                                @if (item.RequiredDate == null)
                                {
                                    <td style="color: red;">Order canceled</td>

                                }
                                else
                                {
                                    <form method="get">
                                        <input name="orderId" id="orderId" value="@item.OrderId" hidden></input>
                                    <td style="color: blue;">Pending | <button type="submit" onclick="return CheckCancel()">Cancel</button></td>
                                    </form>
                                }
                            }
                            else
                            {
                                <td style="color: green;">Completed</td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div id="paging">

                <div class="pagination">
                    <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="1"> First </a>
                    <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="@(Model.OrderedList.PageIndex - 1)"
                       style="pointer-events: @prevDisabled;">&laquo;</a>

                    @if (Model.OrderedList.TotalPages > 5)
                    {
                        @for (var i = Model.OrderedList.PageIndex - 3; i <= Model.OrderedList.PageIndex + 3; i++)
                        {
                            if (i > 0 && i <= Model.OrderedList.TotalPages)
                            {
                                if (Model.OrderedList.PageIndex == i)
                                {
                                    <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="@i"
                       class="active">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a asp-page="./order"
                       asp-route-CurrentFromDate=""
                       asp-route-CurrentToDate=""
                       asp-route-pageIndex="@i">
                                        @i
                                    </a>
                                }
                            }


                        }
                    }
                    else
                    {
                        @for (var i = 1; i <= Model.TotalPage; i++)
                        {
                            if (Model.OrderedList.PageIndex == i)
                            {
                                <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="@i"
                       class="active">
                                    @i
                                </a>
                            }
                            else
                            {
                                <a asp-page="./order"
                       asp-route-CurrentFromDate=""
                       asp-route-CurrentToDate=""
                       asp-route-pageIndex="@i">
                                    @i
                                </a>
                            }

                        }
                    }

                    <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="@(Model.OrderedList.PageIndex + 1)"
                       style="pointer-events: @nextDisabled;">
                        &raquo;
                    </a>
                    <a asp-page="./order"
                       asp-route-currentFromDate=""
                       asp-route-currentToDate=""
                       asp-route-pageIndex="@Model.OrderedList.TotalPages">
                        Last
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function CheckCancel() {
        if (confirm("Do you want to canel this order?") == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
